extends ../shared/template

block content
  nav
    span.home
      a(href='/') Home
    span.home
      a(href='/about') About
    span.home
      a.active(href='/chimeras') Chimeras

  h1 Chimera Factory

  #controls
    span.new
      a.get(href='/chimeras/new') New

    span.search
      form(action='/chimeras/sort', method='GET')
        select(name='position')
          option head
          option body
          option bottom
        select(name='creature')
          option medusa
          option cyclops
          option minotaur
          option satyr
        button.search Sort

  #chimeras
    each chimera in chimeras
      .chimera
        .delete
          form(action='/chimeras/#{chimera._id}/delete', method='POST')
            button.kill
        .name
          a(href='/chimeras/#{chimera._id}')= chimera.name
        .age age: #{chimera.age}
        .gender gender: #{chimera.gender}
        .head
          img(src='/img/#{chimera.head}')
        .body
          img(src='/img/#{chimera.body}')
        .bottom
          img(src='/img/#{chimera.bottom}')
